:root{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Rajdhani', sans-serif;
    min-height: 100vh!;
}

#burgerIcon{
    color:white;
    cursor:pointer;
}

.app{
    background-color:#fbfbfb;
}
 
#selectAliment{
  
    min-height: 350px!important;
    background-color:white;
    border-radius:10px;
}

.dynamicDiv{
    /* min-width: 500px; */
    min-height: 350px!important;
    background-color:white;
    border-radius:10px;
 }

.titleSelect{
    font-size:1.2rem;
}

.aliments:hover{
    background-color: blue;
}

.aliments{
    font-size:0.7rem!important;
    font-weight: bold;
    background-color:purple;
}

.alim:hover{
    background-color:purple;
}

.alim{
    font-size:0.7rem!important;
    font-weight: bold;
    margin-top:1%;
    width: 150px!important;
    background-color:blue;
    color:white;
}

.navBarColor{
    background-color: #00b990;
    height: 60px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 0.7rem;
}

.bubble{
  
    height: 100px;
    width: 100px;
    border: 3px solid #00b990;
    border-radius: 50%;
    background: white;
    line-height: 90Px;
    color:  #00b990;
    
}

.bubble span{

    font-size:2rem;
    font-weight: 500;
}

.smallbubble{
  
    height: 80px;
    width: 80px;
    border: 3px solid #ffb300;
    border-radius: 50%;
    background: white;
    line-height: 70Px;
    color:  #ffb300;
}

.smallbubble span{
  
    font-size:1.5rem;
    font-weight: 500;
}

.message{
    min-height: 200px;
    background-color:#00b990;
}

.endApp{
    min-height: 100px;
}

.footer{
    min-height: 90px;
}



.boxItemRow{
    background:white;
    margin-bottom: 2%;
}

.BoxItem{
    background-color: grey;
}

.alime{
    width: 120px !important;
    height: 120px !important;
    background-color: #00b990;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.alime:hover{
    background-color:#ffb300;
    transition:0.2s;
    cursor:pointer;
}

.itemAdded{
    width: 120px!important;
    height: 120px!important;
    background-color:#00b990;
    border-radius:50%;
    color:white;
    font-weight: bold;

}

.itemAdded:hover{
    width: 120px!important;
    height: 120px!important;
    background-color:#ffb300;
    border-radius:50%;

}

.spantext{
    color:white;
}

.messageTr{
    border-right: 2px dotted rgb(104, 255, 205);
    border-left: 2px dotted rgb(104, 255, 205);
}

.colorAppFontA{
    font-weight: bold;
    color:#00b990;
}

.colorAppFontB{
    font-weight: bold;
    color:#ffb300;
}

.titleCG p:nth-child(1){
    font-weight: bold;
    border:3px solid #ffb300;
    border-radius:20px;
    width:240px;
    margin: 0 auto;
}


.titleCG p:nth-child(3){
    font-weight: bold;
}

.resultatSpan{
    background-color:#ffb300;
    padding:0.3rem;
    padding-left:1.3rem;
    padding-right:1.3rem;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    font-size:0.9rem;
    transition:0.2s;
}

.imgMessage img{
    width:20%;
    margin:0 auto;
    cursor:pointer;
}

.imgMessage b{
    color:rgb(255, 255, 255);
}

.imgMessage{
    color:white;
}

.petitNumber{
    font-size:0.5em!important;
}

#saveButton{
    display:none;
}

#profil-btn{
    background-color: #4f4f4f00 !important;
    font-size: 0.7rem;
    height: 31px;
    border-radius: 5px;
    border: 2px solid  #ffffff;
    margin-right:1%;
    font-weight: bold;
}

#profil-btn:hover{
    background-color: #4f4f4f !important;
    font-size: 0.7rem;
    height: 31px;
    border-radius: 5px;
    border: 2px solid #f0f8ff00;
    margin-right:1%;
    font-weight: bold;
}